<header class="h-20 bg-white border-b border-slate-200 flex items-center justify-between px-8 shadow-sm w-full">
    <h1 id="page-title" class="text-2xl font-bold text-slate-900">Dashboard Home</h1>
    <div class="flex items-center space-x-4">
        <div class="text-right">
            <p id="admin-name-text" class="text-sm font-semibold text-slate-800">Admin</p>
            <p id="admin-role-text" class="text-xs text-slate-400">-</p>
        </div>

        <button id="btn-logout" type="button" class="bg-white border border-slate-200 hover:border-rose-500 text-slate-600 hover:text-rose-600 text-sm font-semibold px-4 py-2 rounded-xl transition-all">
            <i class="fa-solid fa-right-from-bracket mr-2"></i>
            Logout
        </button>
    </div>
</header>